# Ignore node_modules and dependencies
node_modules/
package-lock.json
package.json

# Ignore config files
postcss.config.js
tailwind.config.js

# Ignore build artifacts and caches
dist/
build/
.cache/
output.css

# Ignore system and editor files
.DS_Store
.vscode/
.idea/
*.log
